{
	"extends": ["@ljharb/eslint-config/node/14"],
	"rules": {
		"complexity": "off",
		"func-style": "off",
		"id-length": ["error", { "min": 1, "max": 64 }],
		"object-curly-newline": "off",
		"sort-keys": "off",
	},

	"overrides": [
		{
			"files": "bin/**",
			"rules": {
				"no-throw-literal": "off",
			},
		},
	],
}
